.brand {
    font-weight: bold;
    font-size: 20px;
}

.header-text{
    color: #adabab;
    position: absolute;
    right: 150px;
}

  .site-header {
    position: relative;
    background-color: #fff; 
    }
  
  .site-header__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    background-color: #fff;
}
  
  .site-header__start {
    display: flex;
    align-items: center; }
    .site-header__start > * + * {
      margin-left: 1rem; }

.main-content{
    max-width: 90vw;
    min-width: 50vw;
    width: 80vw;
    margin: auto;
    padding-left: 18vh;
}

.img-home{
    width: 70vw;
}
  
.page_title{
  text-align: center;
  padding-bottom: 30px;
  font-size: 30px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#dtBasicExample th {
  background-color: #10686d;
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}




  @media (max-width: 679px) {
    .site-header__end {
      flex: 0 0 100%;
      order: 2;
      margin-top: 1rem; } }
  
  .nav__wrapper {
    margin-top: 15px;
    position: fixed;
    top: 66px;
    left: 0;
    width: Max(150px, 15%);
    bottom: 0;
    z-index: 1;
    /* background-color: #c9c9c9; */
    background-color: #08494d;
    transition: transfrgb(241, 132, 132)s ease-out, opacity 0.3s ease-out;
    display: block; }
    @media (max-width: 679px) {
      .nav__wrapper {
        top: 101px;} }
  .nav__item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
    .nav__item a {
      display: block;
      padding: 1.5rem 1rem; }
  