
.topTitle {
  font-size: 25px; 
  color: #ffffff;
}

.topProfileLogo {
  background-color: #08494d !important;
}

.topProfileLogoImg {
  height: 40px; 
  width:auto; 
  background-color: #08494d !important;
}

/* dropdown right top profile icon */
.dropbtn {
  background-color: white;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: #2c8c94 !important;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* dropdown css end  */


/* submenu  */

.subnav {
  overflow: hidden;
}

.subnav .subnavbtn {
  border: none;
  outline: none;
  color: black;
  padding-left: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.subnav:hover .subnavbtn {
  color: white;
  width: 100%;
}

.subnav-content {
  font-size: 12px;
  display: none;
  position: absolute;
  left: 0;
  background-color: #2c8c94;
  width: 100%;
  z-index: 2;
}

.subnav:hover .subnav-content {
  display: block;
}

/* submenu  end */

/* sub-subnav */

.sub-subnav {
  overflow: hidden;
}

.sub-subnav .sub-subnavbtn {
  border: none;
  outline: none;
  color: black;
  padding-left: 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.sub-subnav:hover .sub-subnavbtn {
  color: white;
  width: 100%;
}

.sub-subnav-content {
  /* margin-left: 20vh; */
  font-size: 12px;
  display: none;
  position: absolute;
  left: 0;
  background-color: black;
  width: 100%;
  z-index: 2;
}

.sub-subnav:hover .sub-subnav-content {
  display: block;
}

/* sub-subnav end */